.App {
  text-align: center;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.movie {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  transition: transform 0.3s;
}

.movie:hover {
  transform: scale(1.05);
}

.movie-poster {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

h3 {
  font-size: 18px;
  margin: 10px 0;
}

p {
  color: #777;
}
